@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  height: 100vh;
}

header .headerContent-Wrapper .headerUser-Wrapper h1 {
  color: #F2AF05;
  font-family: "Poppins", sans-serif;
  font-size: 3.7rem;
}

header .headerContent-Wrapper .headerUser-Wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}
header .headerContent-Wrapper .headerUser-Wrapper button {
  background-color: transparent;
}

header .headerContent-Wrapper .headerUser-Wrapper button img {
  width: clamp(2rem, 2.5vw, 2.67rem);
  cursor: pointer;
}

header .headerContent-Wrapper {
  margin: 0px 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .headerContent-Wrapper p {
  width: 100%;
  font-family: "League Spartan", sans-serif;
  margin: 0px 0px 0px 1rem;
  font-size: 1.9rem;
  font-weight: 600;
  color: #2D4583;
}

header {
  background-color: white;
  margin: 4.5rem 15rem 0px 15rem;
  height: 16rem;
  border-radius: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .money-cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  margin: 3rem 15rem;
}

main .money-cards-wrapper .total-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3.5rem 3rem;
  background-color: #F2AF05;
  border-radius: 0.9rem;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .money-cards-wrapper .total-card h3 {
  font-family: "Poppins", sans-serif;
  color: #2D4583;
  font-weight: 800;
  font-size: clamp(1.3rem, 2vw, 1.8rem);
}
main .money-cards-wrapper .total-card p {
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 4.5rem;
  font-weight: 700;
}

main .money-cards-wrapper .income-expense-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3.5rem 3rem;
  background-color: white;
  border-radius: 0.9rem;
  width: 31.5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .money-cards-wrapper .income-expense-card p {
  font-family: "League Spartan", sans-serif;
  color: #F2AF05;
  font-size: 4rem;
  font-weight: 640;
}

main .money-cards-wrapper .income-expense-card .income-expense-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  gap: 1rem;
}
main .money-cards-wrapper .income-expense-card .income-expense-title-wrapper img {
  width: 1.7rem;
}
main .money-cards-wrapper .income-expense-card .income-expense-title-wrapper h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.53rem;
  color: #2D4583;
}

.history-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px 15rem 0px 15rem;
  padding: 3rem 5rem;
  background-color: white;
  gap: 2rem;
  border-radius: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .history-table-wrapper .history-table-section-title-wrapper h2 {
  font-size: 4.5rem;
  font-weight: 630;
  font-family: "Poppins", sans-serif;
  color: #F2AF05;
}

.table-wrapper {
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.9rem;
}

.table-history-thead-wrapper {
  background-color: #F2AF05;
  border-radius: 0.9rem;
}

.table-history-thead-row-wrapper th {
  font-family: "League Spartan", sans-serif;
  color: white;
  font-weight: 500;
  font-size: 1.53rem;
  padding: 0.9rem 0px;
  width: 20%;
}
.table-history-thead-row-wrapper th:not(:last-child) {
  border-right: 1px solid white;
}
.table-history-thead-row-wrapper th:first-child {
  border-top-left-radius: 0.9rem;
}
.table-history-thead-row-wrapper th:last-child {
  border-top-right-radius: 0.9rem;
}

.table-history-tbody-row-wrapper td {
  text-align: center;
  vertical-align: middle;
  font-family: "League Spartan", sans-serif;
  color: #2D4583;
  font-size: 1.4rem;
  padding: 3rem 0px 0px 0px;
}

.income-expense-icon {
  width: 1.3rem;
}

.table-history-tbody-row-wrapper .icon-operation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.money-column {
  color: #F2AF05 !important;
}

.edit-delete-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.46rem;
}
.edit-delete-button-wrapper button {
  background-color: #F2AF05;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.edit-delete-button-wrapper button img {
  width: 1.5rem;
}

.add-operation-button {
  background-color: #F2AF05;
  padding: 1.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3.5rem;
  right: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.add-operation-button img {
  width: 2.5rem;
}/*# sourceMappingURL=dashboard.css.map */