@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

main {
    @include flex(center, stretch);
    flex-direction: row;
    max-width: 60%;
    min-height: 70%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

img {
    min-width: 70%;
    max-width: 75%;
}

body {
    height: 100vh;
    @include flex(center, center);
}

section {
    width: 50%;
    @include flex(center, center);
    flex-direction: column;

    h1 {
        font-family: $TitleFont;
        color: $yellow;
        font-size: clamp(1.4rem, 3vw, 2.7rem);
        margin-bottom: 1.5rem;
        max-width: 100%;
    }

    h2 {
        font-family: $TitleFont;
        color: $blue;
        font-size: clamp(1.9rem, 2vw, 2.4rem);
        align-self: flex-start;
        padding: 0px clamp(3rem, 6vw, 7rem);
        margin-bottom: 0.5rem;
    }
}

section input {
    border: 1px solid $gray;
    border-radius: 0.7rem;
    padding: 1rem 0.7rem;
    height: 3.3rem;
    width: 100%;
    outline: none;
    font-family: $ParagFont;

    &:focus {
        border: 1px solid $yellow;
    }
}

form {
    width: 100%;
}

div {
    width: 100%;
}

section ::placeholder {
    font-size: 1.2rem;
    font-family: $ParagFont;
}

.welcome-message {
    background-color: $yellow;
    p {
        font-family: $ParagFont;
        color: white;
        font-size: clamp(1.3rem, 2vw, 1.6rem);
        padding: 0px clamp(3rem, 6vw, 7rem);
        margin: 0px 0px calc(1rem + 0.5vw) 0px;
    }
}

.login-inputs {

    padding: 0px clamp(3rem, 6vw, 7rem);
    position: relative;

    .error-message {
        width: 100%;
        height: 1.5rem;
    }

    .register-link {
        font-family: $ParagFont;
        color:$yellow;
        position: absolute;
        bottom: 0;
        margin: 0px clamp(1rem, 2vw, 1rem) 2.5rem clamp(1rem, 2vw, 1rem);
        font-size: clamp(1rem, 1vw, 1.3rem);
        font-weight: 500;
    }
    a {
        font-family: $ParagFont;
        color: $blue;
    }
}

button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.7rem;
    font-family: $ParagFont;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    background-color: $yellow;
    @include flex (center, center);
    margin-top: 0.5rem;
    cursor: pointer;
}