@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.history-table-wrapper {
    @include flex(center, flex-start);
    flex-direction: column;
    margin: 0px 15rem 0px 15rem;
    padding: 3rem 5rem;
    background-color: white;
    gap: 2rem;
    border-radius: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .history-table-wrapper .history-table-section-title-wrapper h2 {
    font-size: 4.5rem;
    font-weight: 630;
    font-family: $TitleFont;
    color: $yellow;
}

.table-wrapper {
    border-collapse: collapse;
    width: 100%;
    border-radius: 0.9rem;
}

.table-history-thead-wrapper {
    background-color: $yellow;
    border-radius: 0.9rem;
}

.table-history-thead-row-wrapper th {
    font-family: $ParagFont;
    color: white;
    font-weight: 500;
    font-size: 1.53rem;
    padding: 0.9rem 0px;
    width: 20%;

    &:not(:last-child) {
        border-right: 1px solid white;
    }

    &:first-child {
        border-top-left-radius: 0.9rem;
    }

    &:last-child {
        border-top-right-radius: 0.9rem;
    }
}

.table-history-tbody-row-wrapper td {
    text-align: center;
    vertical-align: middle;
    font-family: $ParagFont;
    color: $blue;
    font-size: 1.4rem;
    padding: 3rem 0px 0px 0px;
}

.income-expense-icon {
    width: 1.3rem;
}

.table-history-tbody-row-wrapper .icon-operation-wrapper {
    @include flex(center, center);
    gap: 0.5rem;
}

.money-column {
    color: $yellow !important;
}

.edit-delete-button-wrapper {
    @include flex(center, center);
    gap: 0.46rem;

    button {
        background-color: $yellow;
        padding: 0.5rem 0.7rem;;
        border-radius: 0.3rem;
        cursor: pointer;

        img {
            width: 1.5rem;
        }
    }
}

